@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubikregular.woff2") format("woff2"),
       url("../fonts/rubikregular.woff") format("woff")
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/rubikmedium.woff2") format("woff2"),
       url("../fonts/rubikmedium.woff") format("woff")
}
@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubikbold.woff2") format("woff2"),
       url("../fonts/rubikbold.woff") format("woff")
}